kuromoji.dict_path=./dictionary/anime_2015_2Q.txt
kafka.metadata.broker.list=127.0.0.1:9092

take_rank_num=10

twitter.consumer_key=
twitter.consumer_secret=
twitter.access_token=
twitter.access_token_secret=
twitter.searchKeyword=

